<!DOCTYPE html>
<html>

    <head>
        
        <link rel="stylesheet" href="/static/style.css" /> 
        <title> KIIT Helpdesk </title>
    
    </head>

    <div class="context">
        
        <h1> Welcome to Helpdesk </h1>
        <h2> <br> </h2>
        <h2> Create a ticket </h2>
        
        <div class="content">
            
            <body>
                
                <form action="/sub" method="POST">
                    <div class="row">
                        
                        <br>
                        <input type="text" id="title" name="title" placeholder="Subject"  > 
                        <br>
                        <input type="text" id="body" name="body" placeholder="Description">
                        <br>
                        <input type="submit" id="submit" name="submit" placeholder="submit" aling="center">
                    
                    </div>
                </form> 
            
            </body>
        </div>
    </div>

    <div class="area" >
        <ul class="circles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div> 

</html>