<!DOCTYPE html>
<html>

    <head>
        
        <link rel="stylesheet" href="/static/style.css" /> 
        <title> KIIT Helpdesk </title>
    
    </head>

    <div class="context">
        
        <div class="content">
            
            <body>
                <h2> Congratulations! </h2>
                <h1> Your ticket has been forwarded to department {{show}} </h1>

            </body>
        </div>
    </div>

    <div class="area" >
        <ul class="circles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div> 

</html>